@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600;700&display=swap");

/* Reset */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    line-height: 1.4;
    color: #333333;
}

a {
    text-decoration: none;
}

p {
    margin: 0.75rem 0;
}
header {
    height: 70px;
}

h2 {
    margin-top: 30px;
}
.container {
    max-width: 1100px;
    margin: auto;
    padding: 2rem;
    overflow: hidden;
}
.fl-right {
    float: right;
}

.text-center {
    text-align: center;
}

.text-primary {
    color: orangered;
}

.bg-light {
    background: #cbd7d3;
    color: #333;
}

.bg-dark {
    background: #333;
    color: #fff;
}

.btn {
    display: inline-block;
    color: #fff;
    background: #546862;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
}
.btn:hover {
    background-color: #3d504a;
}

.items {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-wrap: wrap;
    padding: 1rem;
}

.items .item {
    display: flex;
    position: relative;
    flex-flow: column;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 228px;
    height: 220px;
    text-align: center;
    padding: 1rem;
    border: 1px solid #f4f4f4;
    box-shadow: 7px 8px 24px -8px rgba(0,0,0,0.49);
    -webkit-box-shadow: 7px 8px 24px -8px rgba(0,0,0,0.49);
    -moz-box-shadow: 7px 8px 24px -8px rgba(0,0,0,0.49);
    background-color: #ffffff;
}

.items .item .delete {
    position: absolute;
    width: 20px;
    height: 30px;
    right: 10px;
    top: 5px;
    color: orange;
}
.items .item .delete:hover {
    color: orangered;
}

.items .item label {
    display: inline-block;
    width: 75px;
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
    border: 1px solid transparent;
}

.items .item input {
    padding: 5px;
    margin: 5px 0;
}

.items .item select {
    padding: 10px;
}

.items .item button {
    padding: 10px 20px;
    margin-top: 10px;
    background-color: orangered;
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 5px;
}

.project-link {
    font-size: 20px;
    font-weight: 600;
    color: #444;
}

.project-link:hover {
    color: orangered;
}

.form-error {
    font-size: 12px;
    text-align: right;
}

.form-error ul {
    list-style: none;
}

.list {
    padding: 2rem;
}

.row.captions {
    background-color: #cbd7d3;
    font-weight: 600;
}

.list .row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.list .row .cell {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    min-width: 228px;
    text-align: center;
    padding: 1rem;
    border: 1px solid #f4f4f4;
}

#groups .item {
    height: auto;
    flex: none;
}

#groups .list {
    padding: 1rem;
}
